@model AdminDashboard.Models.PackageModel
@{
    ViewData["Title"] = "Package Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 mb-5 package_details">
    <div class="row">
        <div class="col-lg-3 col-md-12 mb-lg-0 mb-4 px-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-white rounded shadow">
                <div class="container-fluid flex-lg-column align-items-stretch">
                    <h3 class="mt-2">COLOMBO-SIGIRIYA-KANDY-BENTOTA 8 DAYS 7 KNIGHS</h3>
                    <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#filterDropdown" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse flex-column align-items-stretch mt-2" id="filterDropdown">


                        <div class="border bg-light p-3 rounded mb-3">
                            <div class="guests">
                                <h6 class="mb-1">Included Cities</h6>
                                <span class="badge rounded-pill bg-light text-dark text-wrap">
                                    <i class='bx bx-location-plus'></i>Colombo
                                </span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap">
                                    <i class='bx bx-location-plus'></i>Kandy
                                </span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap">
                                    <i class='bx bx-location-plus'></i>Sigiriya
                                </span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap">
                                    <i class='bx bx-location-plus'></i>Bentota
                                </span>

                            </div>

                        </div>
                        <div class="border bg-light p-3 rounded mb-3">
                            <div class="col-lg-10 mb-2">
                                <span class="badge rounded-pill bg-light text-dark text-wrap">
                                    <i class='bx bx-location-plus'></i>Colombo
                                </span>
                                <label for="inputState" class="form-label">Hotel Room Class</label>
                                <select id="inputState" class="form-select">
                                    <option selected>Economic</option>
                                    <option>Luxury</option>
                                </select>
                            </div>
                            <div class="col-lg-10 mb-2">
                                <span class="badge rounded-pill bg-light text-dark text-wrap">
                                    <i class='bx bx-location-plus'></i>Kandy
                                </span>
                                <label for="inputState" class="form-label">Hotel Room Class</label>
                                <select id="inputState" class="form-select">
                                    <option selected>Economic</option>
                                    <option>Luxury</option>
                                </select>
                            </div>
                            <div class="col-lg-10 mb-2">
                                <span class="badge rounded-pill bg-light text-dark text-wrap">
                                    <i class='bx bx-location-plus'></i>Sigiriya
                                </span>
                                <label for="inputState" class="form-label">Hotel Room Class</label>
                                <select id="inputState" class="form-select">
                                    <option selected>Economic</option>
                                    <option>Luxury</option>
                                </select>
                            </div>
                            <div class="col-lg-10 mb-2">
                                <span class="badge rounded-pill bg-light text-dark text-wrap">
                                    <i class='bx bx-location-plus'></i>Bentota
                                </span>
                                <label for="inputState" class="form-label">Hotel Room Class</label>
                                <select id="inputState" class="form-select">
                                    <option selected>Economic</option>
                                    <option>Luxury</option>
                                </select>
                            </div>
                        </div>

                        <div class="border bg-light p-3 rounded mb-3">
                            <h5 class="mt-2">Package Booking</h5>
                            <div class="Facilities mb-3">
                                <h6 class="mb-4">8 Days 7 Nights</h6>
                                <h6 class="mb-4">Price : Start From $200</h6>
                                <a href="booking.html" class="btn1">Book Now</a>
                            </div>
                            <div class="Facilities mb-3">
                                <a href="#" class="btn1">Download as pdf</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="col-lg-9 col-md-12 px-4 package_imgs">
            <div class="row">
                <div>
                    <div class="package_imgs_g1">
                        <div class="me-1">
                            <img class="p-1" src="~/images/content/@Model.ImageInfo?[0].ImagePath" alt="">
                            <img class="p-1" src="~/images/content/@Model.ImageInfo?[1].ImagePath" alt="">
                        </div>
                        <img class="p-1 img1" src="~/images/content/@Model.PackageMainImage" alt="">
                    </div>
                </div>
                <div class="package_imgs_g1 ms-5">
                    <img class="p-1" src="~/images/content/@Model.ImageInfo?[2].ImagePath" alt="">
                    <img class="p-1" src="~/images/content/@Model.ImageInfo?[3].ImagePath" alt="">
                    <img class="p-1" src="~/images/content/@Model.ImageInfo?[4].ImagePath" alt="">
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container mt-5 mb-5 package_details">

    <h3 class="mb-4">About the Package</h3>

    <p>@Model.Name @Model.NumberOfDays Days @Model.NumberOfNights Nights</p>

    <div class="row row-cols-1 row-cols-md-1 g-4">
        @{
            int count = 1;
            if (Model.PackageDays.Any())
            {     
                foreach(var day in Model.PackageDays)
                {
                    int cityId = day.CityId; 
                    <div class="col">
                        <div class="card package_body">
                            <div class="card-header">Day @count: @ViewBag.Cities[cityId].Text</div>
                            <ul class="list-group list-group-flush">
                                @if (!string.IsNullOrEmpty(day.Description))
                                {
                                    string[] dayDetails = day.Description.Split('/');
                                    foreach(var detail in dayDetails)
                                    {
                                        <li class="list-group-item">@detail</li>

                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    count++;
                    <div calss="col">
                        <img class="p-1" src="~/images/content/@day.ImageName" alt="">
                    </div>
                }
            }
        }
        <div class="col">
            <div class="card package_body">
                <div class="card-header">Additional Information</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Of course, you can modify this path to suit your interests</li>
                    <li class="list-group-item">An accompanying representative speaks Arabic and English</li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div class="container mt-5 mb-5 package_details">
    <h3 class="mb-4">Reviews</h3>
    <div>
        <!-- Button trigger modal -->
        <a type="button" class="btn1" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class='bx bx-message-rounded-add me-2'></i>Add a review
        </a>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3" id="reviewsContainer">

        </div>
</div>


<!-- Modal -->
<form>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                @if(User.Identity.IsAuthenticated)
                {
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add a review</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <input type="hidden" id="PackageId" value="@Model.Id" />
                            <textarea type="text" id="ReviewText" class="form-control" cols="50" rows="5" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                }
                else
                {
                    <div class="d-flex justify-content-center align-items-center">
                        <p class="text-danger">You Must Sign in to add a review</p>
                    </div>
                }
            </div>
        </div>
    </div>
</form>

<script>
    var js = jQuery.noConflict();

    js(document).ready(function () {
        var page = 1; // Initial page number
        var loading = false; // Flag to prevent multiple simultaneous requests
        var allNotificationsLoaded = false; // Flag to track when all notifications have been loaded

        function loadNotifications() {
            if (!loading && !allNotificationsLoaded) {
                loading = true;

                js.ajax({
                    url: "@Url.Action("GetData", "Reviews", new { Id=Model.Id})" + "?page=" + page,
                    type: "GET",
                    success: function (html) {
                        if (html.trim() === "") {
                            // No more notifications, stop loading
                            allNotificationsLoaded = true;
                        } else {
                            // Append the new notifications to the container
                            js("#reviewsContainer").append(html);
                            page++; // Increment the page number for the next request
                        }

                        loading = false;
                    },
                    error: function (error) {
                        console.error("Error loading packages", error);
                        loading = false;
                    }
                });
            }
        }

        // Detect when the user scrolls to the bottom of the page
        js(window).scroll(function () {
            if (js(window).scrollTop() + js(window).height() >= js(document).height() - 100) {
                // Load more notifications when the user is close to the bottom
                loadNotifications();
            }
        });

        // Initial load of notifications
        loadNotifications();
    });
</script>

<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        // Assuming the submit button is the second button in the modal footer
        $('#exampleModal button.btn-primary').click(function () {
            // Get values from the form
            var packageId = $('#PackageId').val();
            var reviewText = $('#ReviewText').val();

            // Make the AJAX call
            $.ajax({
                type: 'POST',  // Use 'POST' method since you are adding a review
                url: '@Url.Action("AddPackageReview", "Reviews")',  // Update the URL to match your actual route
                data: {
                    PackageId: packageId,
                    ReviewText: reviewText
                },
                success: function (response) {
                    // Handle success, e.g., close the modal
                    $('#exampleModal').modal('hide');
                    window.location.reload();
                    $('#reviewsContainer').empty();
                    $('#reviewsContainer').append(response);
                },
                error: function (error) {
                    // Handle error
                    console.error('Error adding review:', error);
                }
            });
        });
    });
</script>
