@model AdminDashboard.Models.SiteModels.PackageListModel

@foreach(var item in Model.Packages)
    {
        <div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="media-entry">
            <a href="@Url.Action("PackageDetails", "SitePackages", new { Id=item.Id})">
                    <img src="../../images/content/@item.PackageMainImage" alt="Image" class="img-fluid">
                </a>
                <div class="bg-white m-body package-body">
                    <h3>@item.Name</h3>
                    <p>@item.NumberOfDays Days @item.NumberOfNights Nights</p>

                    <h6 class="">Price : Start From $@item.Price</h6>
                    @Html.ActionLink("Learn More ...", "PackageDetails", "SitePackages", new { Id=item.Id})
                </div>
            </div>
        </div>
    }